{% extends 'layout.html' %}

{% block content %}

<div class="container mt-5 bg-about md-4"><br>
  <ul>

    <li><h4 style=" font-family: consolas; font-size: 200%;"><em><strong>MEDIDOC is a brilliant use of technology to address real-life social challenges in rural areas where people are not able to
        get basic health facilities due to the lack of infrastructure and resources.</strong></em></h4><br></li>

    <li><h4 style=" font-family: consolas; font-size: 200%;"><em><strong>This web-app will help people living in the rural area to know about their disease with the help of their report’s scanned
        image and enable them to get the idea of life-threatening diseases. </strong></em></h4><br></li>

    <li><h4 style=" font-family: consolas; font-size: 200%;"><em><strong>It would allow them to get in touch with the specialized Doctor and get to
        know about the best medicines that has been used in the past to cure such diseases. </strong></em></h4><br></li>

    <li><h5 style=" font-family:consolas; font-size: 200%;"><em><strong>It can easily run on smartphones and e-devices.</strong></em></h5></li><br>
  </ul>
</div>

{% endblock %}
