{% extends 'layout.html' %}
{% block content %}
<script>
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(500)
                        .height(500);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
<div class="row"   style="margin-bottom: 300px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <center><h1 class="mt-30">Brain Tumor Predictor</h1></center>
        <div class="card card-body bg-about">
            <center><h3 class="mt-30">Please upload the MRI Scan of Patient</h3></center><br>
            <form class="form-horizontal" action="{{ url_for('brainpredictPage') }}" method="POST" enctype="multipart/form-data">
                <center>
                <input onchange="readURL(this);" class="form-control" type="file" name="image" placeholder="Upload Image" accept=".png, .jpg, .jpeg">
                <br>
                <br>
                <img class="img-fluid" id="blah" src="#" alt="UPLOADED IMAGE WILL APPEAR HERE" />
                <br>
                <br>
                <input class="btn btn-block btn-primary" type="submit">
                </center>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
