{% extends 'layout.html' %}

{% block content %}

<h2 class="mt-3" style="text-align:center;"><ins> PNEUMONIA AND MALARIA DOCTORS </ins></h2><br>

<table class="tableizer-table">
  <tr>
  <th>Sno.</th>
    <th style="text-align:center;">Name of Doctor</th>
  <th style="text-align:center;">Specialization</th>
    <th style="text-align:center;">Location</th>
  <th style="text-align:center;">Weekdays</th>
  <th style="text-align:center;">Time</th>

  </tr>
  <tr>
    <td>1.</td>
    <td>Dr. Malay Chaturvedi</td>
    <td>General Physician, Ophthalmologist/ Eye Surgeon</td>
    <td>2/344-A, Landmark: Opposite Pandit Deen Dayal Vidyalaya, Kanpur</td>
  <td>Mon - Sun</td>
  <td>10:00 AM - 02:00 PM | 07:00 PM - 08:00 PM</td>
  </tr>

  <tr>
    <td>2.</td>
    <td>Dr. Anubhaw Katiyar</td>
    <td>ENT/ Otorhinolaryngologist, General Physician</td>
    <td>Namak Factory Chauraha, Ganesh Nagar, Kanpur</td>
  <td>Mon - Sat</td>
  <td>01:00 - 08:00 PM</td>
  </tr>


  <tr>
    <td>3.</td>
    <td>Dr. Hamid Ansari</td>
    <td>General Physician, General Practitioner</td>
    <td> 117/219 P Block, Hitkari Nagar, Kakadeo, Kanpur</td>
    <td>Mon - Fri, Sun</td>
  <td>07:00 AM - 02:00 PM | 07:00 PM - 11:00 PM</td>
  </tr>

   <tr>
    <td>4.</td>
    <td>Dr. Mohd Shahid</td>
    <td>MD - General Medicine, Diploma in Medical Radio-Diagnosis Internal Medicine, General Physician </td>
    <td> 14/138, Chunni Ganj, Mall Road, Landmark: Near Colonel Ganj Kotwali, Kanpur</td>
  <td>Mon - Sat</td>
  <td>12:00 PM - 04:00 PM</td>

  </tr>
   <tr>
    <td>5.</td>
    <td>Dr.Ashish Mehrotra</td>
    <td>MD - General Medicine, MBBS General Physician</td>
    <td>14/138, Chunni Ganj, Mall Road, Landmark: Near Colonel Ganj Kotwali, Kanpur</td>
  <td>Mon - Sat</td>
  <td>11:00 AM - 12:00 PM</td>

  </tr>
   <tr>
    <td>6.</td>
    <td>Dr. O.P Misra</td>
    <td>MBBS, Diploma in Tuberculosis and Chest Diseases (DTCD) General Physician, Pulmonologist</td>
    <td> 104-A/296, P Road, Landmark: Near Harsahay College, Kanpur</td>
    <td>Mon - Sat</td>
  <td>10:00 AM - 02:00 PM | 06:00 PM - 08:00 PM</td>
  </tr>


  <tr>
    <td>7.</td>
    <td>Dr. Mamta Bhura</td>
    <td>MBBS General Physician</td>
    <td> 13/196,Swaroop Nagar, Behind Hotel Royal Cliff, Landmark: Near Solitaire Diamond Boutique, Kanpur</td>
    <td>Mon - Fri</td>
  <td>10:00 AM - 04:00 PM</td>
  </tr>


  <tr>
    <td>8.</td>
    <td>Dr. M K Agarwal</td>
    <td>MBBS General Physician</td>
    <td> Gc-95 Singhal Medical Centre Private Limited, Landmark: Behind Bank of Baroda,Near Hari Petrol Pump, Kanpur</td>
    <td>Mon - Sat</td>
  <td>09:00 AM - 01:00 PM | 05:00 PM - 08:00 PM</td>
  </tr>

   <tr>
    <td>9.</td>
    <td>Dr. Amrita Saha</td>
    <td>MBBS, MD / MS - Obstetrics & GynaecologyGynecologist, Obstetrician, General Physician</td>
    <td> L.G-16, 14/147, Skylark Complex, Chunniganj, Kanpur</td>
    <td>Mon - Sat</td>
  <td>11:00 AM - 02:00 PM | 06:00 PM - 07:30 PM</td>
  </tr>

  <tr>
    <td>10.</td>
    <td>Dr. (Capt.) Nandini Rastogi</td>
    <td>MBBS, MD - Medicine General Physician, Internal Medicine, Consultant Physician</td>
    <td> 7/141, Swaroop Nagar, B.N. Khanna Road, Kanpur, Landmark: Ratan MRI, Kanpur</td>
    <td>Mon - Fri</td>
  <td>01:30 PM - 03:00 PM | 07:30 PM - 09:00 PM</td>
  </tr>

    <tr>
    <td>11.</td>
    <td>Dr. Vinod Singh Sachan</td>
    <td>General Physician</td>
    <td> 111/162, Near Kanika Hospital, Harsh Nagar, Kanpur-208012</td>
    <td>Mon - Fri</td>
  <td>10:00 AM - 02:00 PM | 06:30 PM - 09:30 PM</td>
  </tr>

    <tr>
    <td>12.</td>
    <td>Dr. V.B Nigam</td>
    <td>MBBS, Diploma in Child Health (DCH)General Physician</td>
    <td> #111/462, Brahma Nagar, Landmark: Near Fortune Hospital, Kanpur</td>
    <td>Mon - Sun</td>
    <td>10:30 AM - 01:30 PM | 06:00 PM - 09:00 PM</td>
    </tr>

     <tr>
    <td>13.</td>
    <td>Dr. A. P. Maurya</td>
    <td>MBBS, General Physician</td>
    <td>105/38, Prem Nagar Road, Chaman Ganj, Kanpur</td>
    <td>Mon - Sat</td>
  <td>04:00 PM - 07:00 PM</td>
  </tr>

   <tr>
    <td>14.</td>
    <td>Dr. Amit Nigam</td>
    <td>MBBS, General Physician</td>
    <td>96/02 Chunniganj Star Press Building,Kanpur</td>
    <td>Mon - Fri</td>
  <td>08:00 PM - 10:00 PM</td>
  </tr>

  <tr>
    <td>15.</td>
    <td>Dr. Amit Nigam</td>
    <td>MBBS, General Physician</td>
    <td>105/557, Anand bagh, Kanpur</td>
    <td>Mon - Sat</td>
  <td>05:00 PM - 08:00 PM</td>
  </tr>

    <tr>
    <td>16.</td>
    <td>Dr. Balraj Bhatia</td>
    <td>MBBS, General Physician</td>
    <td>109/248, R.K Nagar, Kanpur</td>
    <td>Mon - Sat</td>
  <td>10:00 AM - 01:00 PM | 06:00 PM - 09:00 PM</td>
  </tr>

   <tr>
    <td>17.</td>
    <td>Dr. Ashok Verma</td>
    <td>MBBS, General Physician</td>
    <td>2, Kda Market, Vikash Nagar,Kanpur</td>
    <td>Mon - Sat</td>
  <td>10:00 AM - 01:00 PM </td>
  </tr>

     <tr>
    <td>18.</td>
    <td>Dr. Kailash Gurnani</td>
    <td>MBBS, Diploma in Tuberculosis and Chest Diseases (DTCD)Pulmonologist, General Physician</td>
    <td>87/147, Deewaan Bhawan, Dev Nagar, Kanpur, Landmark: Near Thana Raipurwa., Kanpur</td>
    <td>Mon - Sat</td>
  <td>12:00 PM - 06:30 PM | 07:00 PM - 09:00 PM</td>
  </tr>


  <tr>
    <td>19.</td>
    <td>Dr. S. C. Shukla</td>
    <td>MBBS,General Physician</td>
    <td>117/N/38, Kakadav, Kanpur</td>
    <td>Mon - Sat</td>
  <td>10:00 AM - 02:00 PM | 05:00 PM - 09:00 PM</td>
  </tr>

  <tr>
    <td>20.</td>
    <td>Dr. Priti Shraman</td>
    <td>MBBS,General Practitioner, General Physician</td>
    <td>123D, Pardevanpur, Landmark: Near Siddanath Park, Kanpur</td>
    <td>Mon - Sun</td>
  <td>10:00 AM - 04:00 PM </td>
  </tr>
</table>
<br>

  <h2 style="text-align:center;"><ins> BRAIN TUMOR DOCTORS </ins></h2><br>

  <table class="tableizer-table" style="width:100%;">
    <thead>
      <tr class="tableizer-firstrow">
      <th style="text-align:center;">Sno.</th>
      <th style="text-align:center;">Name of Doctor</th>
      <th style="text-align:center;">Specialization</th>
      <th style="text-align:center;">Location</th>
      <th style="text-align:center;">Weekdays</th>
      <th style="text-align:center;">Time</th>
      </tr>
    </thead>


  <tr>
    <td>1.</td>
    <td>Dr. Kumar Nirbhay</td>
  <td> Neurologist</td>
    <td>Regency Hospital,Kanpur</td>
    <td>Mon - Sat</td>
  <td>10:00 AM - 05:30 PM</td>
  </tr>

    <tr>
    <td>2.</td>
    <td>Dr. Ajeet Verma</td>
  <td> Neurologist</td>
    <td>Akshay Hospital,Kanpur  </td>
    <td>Mon - Thu</td>
  <td>10:00 AM - 01:00 PM</td>
  </tr>

     <tr>
    <td>3.</td>
    <td>Dr. Vikas Shukla</td>
  <td> Neurosurgeon</td>
    <td>The Panacea Hospital,Kanpur </td>
    <td>Mon - Fri</td>
  <td>02:00 PM - 05:00 PM | 07:00 PM - 08:00 PM</td>
  </tr>


     <tr>
    <td>4.</td>
    <td>Dr. B.P Rathore</td>
  <td> MBBS, MD - Medicine, DM - Neurology Neurologist</td>
    <td>Neuro Care Center,Kanpur </td>
    <td>Mon - Sat</td>
  <td>04:00 PM - 07:00 PM | 10:00 AM - 01:00 PM</td>
  </tr>

  <tr>
    <td>5.</td>
    <td>Dr. Raghavendra Gupta</td>
  <td> MBBS, MS - Neuro Surgery, MCh - Neuro Surgery Neurosurgeon</td>
    <td>Unique Pathology and Neuro Centre Swaroop Nagar,  Kanpur </td>
    <td>Mon - Sat</td>
  <td>10:00 AM - 07:00 PM </td>
  </tr>

   <tr>
    <td>6.</td>
    <td>Dr. Pradeep Sharma</td>
  <td> BHMS, CSD, DNHE Homeopathy Doctor</td>
    <td>Dr. Pradeep Sharma's Homeopathic clinic Kaushalpuri,Kanpur</td>
    <td>Mon - Sat</td>
  <td>11:00 AM - 02:00 PM </td>
  </tr>

     <tr>
    <td>7.</td>
    <td>Dr Archanan Bhadauria</td>
  <td> Neurologist</td>
    <td>Apollo Spectra Hospital - Kanpur Mall Road,  Kanpur </td>
    <td>Mon - Sat</td>
  <td>9:00 AM - 06:00 PM</td>
  </tr>

   <tr>
    <td>8.</td>
    <td>Dr. Saquib Saleem</td>
  <td> Neurologist</td>
    <td>Saleem's son clinic Naramau,Kanpur </td>
    <td>Mon - Thu</td>
  <td>9:00 AM - 06:00 PM</td>
  </tr>

    <tr>
    <td>9.</td>
    <td>Dr. N S S Gauri</td>
  <td> Neurologist</td>
    <td>Shri Gauri Ayurvedic Chikitsalaya Darshan Purwa,  Kanpur</td>
    <td>Tue - Sun</td>
  <td>06:00 PM - 08:00 PM</td>
  </tr>
</table>
<br>

{% endblock %}
