{% extends 'layout.html' %}

{% block content %}

<h1 class="mt-3" style="text-align:center;"><ins>List of Hospitals</ins></h1><br>

<table class="tableizer-table" style="width:100%;">
<thead><tr class="tableizer-firstrow"><th style="text-align:center;">S.No</th><th style="text-align:center;">Hospital Name</th><th style="text-align:center;">Address</th><th style="text-align:center;">Contact Number</th></tr></thead><tbody>
<tr><td>1</td><td>Abha Nursing Home Pvt Ltd</td><td>10/503 B Allenganj Allenganj Kanpur 208001 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2553127, 2559528, 2214747 </td></tr>
<tr><td>2</td><td>Aditya Eye Care Centre</td><td>104A/326, Rambagh kanpur 208012 Dist kanpur Uttar Pradesh</td><td>STD (0512) Mobile: 9936432366</td></tr>
<tr><td>3</td><td>Angel Eyes Lasik Centre (A Unit of D.S.Memorial Nursing Home)</td><td>C-35, Sarvodaya Nagar, kanpur 208005 Dist Kanpur Uttar Pradesh</td><td>STD (0512) 2219552, 2217496 </td></tr>
<tr><td>4</td><td>ANURAG HEALTHCARE PVT LTD</td><td>117/Q/702 -A Sharda Nagar Road, Near Chhapera pulia, City: Kanpur, Dist: Kanpur Nagr, State: Uttar Pradesh - 208025</td><td>STD (0512) Tel: 2584480 , Mob: 8707479270</td></tr>
<tr><td>5</td><td>Apollo Spectra (A Unit of Apollo Speciality Hospitals)</td><td>14/138, Chunni Gunj Mall Road, Kanpur 208001 Dist Kanpur Uttar Pradesh</td><td>STD : 0512 Ph No : 3922780 </td></tr>
<tr><td>6</td><td>ASG Hospital Pvt.Ltd</td><td>Plot No- 302, Block- H.N.S Hariharnath Scheme, First Shahstri Nagar, Kanpur, Dist: Kanpur Nagar, State: Uttar Pradresh-208012</td><td>STD(0512) Tel:2222207, Mob:8875020491</td></tr>
<tr><td>7</td><td>Bhargava Hospital</td><td>15/263, Civil Lines Civil Lines Kanpur 208001 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2330333, 2304500, 2304700</td></tr>
<tr><td>8</td><td>Bhargava Medical and Trauma Centre</td><td>30-E 'O' Block, Kidwai Nagar Kanpur 208023 Dist Kanpur Uttar Pradesh</td><td>STD (0512) 2600580, 2600590 </td></tr>
<tr><td>9</td><td>Brij Medical Centre, Kanpur</td><td>NO 94 E-BLOCK NO 94 E-BLOCK PANKI UTTAR PRADESH KANPUR 208020</td><td>STD(0512) Tel: 2262150</td></tr>
<tr><td>10</td><td>Dhanvantri Super Speciality Hospital ( Aunit Of Kabir Hospital Private Limited)</td><td>394, W-2, Juhi Kala, Naubasta Bypass, City: Kanpur, Dist: Kanpur Nagar, State: Uttar Pradesh - 208014</td><td>STD (0512)  Mob: 8528036300</td></tr>
<tr><td>11</td><td>Emerald Multi Specialty Hospital</td><td>438, H-2 Block, Kidwai Nagar, Kanpur 208011 Dist Kanpur Nagar Uttar Pradesh</td><td>STD (0512) Tel: 2601050, 2601104 </td></tr>
<tr><td>12</td><td>Gahlaut Health Care Pvt Ltd</td><td>C-13, Azad Nagar, Kalyanpur Kanpur 208017 Dist Kanpur Nagar Uttar Pradesh</td><td>STD : 0512 Tel : 2570373</td></tr>
<tr><td>13</td><td>Globus Hospital (A unit of Hospital Infotech Pvt.Ltd.)</td><td>117/N/33, A-One Market, Kakadeo kanpur 208025 Dist Kanpur Nagar Uttar Pradesh</td><td>STD (0512) Tel: 2500500</td></tr>
<tr><td>14</td><td>Guru Teg Bahadur Hospital</td><td>120/192 (105), Lajpat Nagar Kanpur 208005 Dist Kanpur Uttar Pradesh</td><td>STD (0512) Tel: 2217744</td></tr>
<tr><td>15</td><td>J. L. Rohatgi Hospital</td><td>117/52, Sarvodaya Nagar Kanpur 208005 Dist Kanpur Uttar Pradesh</td><td>STD (0512) Tel: 2297234, 2296037 </td></tr>
<tr><td>16</td><td>Kanpur Medical Centre Pvt Ltd</td><td>120/500 (24) Lajpat Nagar Kanpur 208005 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2216033 </td></tr>
<tr><td>17</td><td>Kanpur Urology Centre</td><td>111/456, 80 Feet Road Brahma Nagar Kanpur 208012 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2551190, 2549222</td></tr>
<tr><td>18</td><td>Krishna Super Speciality Hospital</td><td>363, Harrisganj, Near Tatmill Chauraha Kanpur 208004 Dist Kanpur Uttar Pradesh</td><td>STD(0512 ) Tel: 2320061 </td></tr>
<tr><td>19</td><td>Kulwanti Hospital and Research Centre</td><td>117/N/8 Saketpuri Kakadeo Kanpur 208025 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2500103, 2502049, 6451252 </td></tr>
<tr><td>20</td><td>Laxmi Devi Kishanchand Memorial Hospital</td><td>Ratan Lal Nagar Ratan Lal Nagar Kanpur 208022 Dist Kanpur Uttar Pradesh</td><td>STD (0512) 2280370, 2280478 </td></tr>
<tr><td>21</td><td>Life Tron Hospital</td><td>Plot No.:O/PR-2, Sect-O, Awas Vikas, Keshavpuram Kanpur 208016 Dist Kanpur Uttar Pradesh</td><td>STD (0512) 2150135, 2502908 </td></tr>
<tr><td>22</td><td>Maa Gayatri Hospital & Trauma Center</td><td>B-515, Hanspuram, Gallamandi, Hamirpur Road, Hanspuram, Galla Mandi Kanpur 208021 Dist Kanpur Uttar Pradesh</td><td>STD : 0512-2626124</td></tr>
<tr><td>23</td><td>Madhulok Hospital</td><td>128/628, K Block, Kidwai Nagar Kanpur 208011 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2604249, 2641400</td></tr>
<tr><td>24</td><td>Madhuraj Hospital Pvt Ltd</td><td>113/121-A, Swaroop Nagar, Kanpur 208002 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2292344, 2292346</td></tr>
<tr><td>25</td><td>Mahaveer Hospital</td><td>E-76, Station Road, Panki, Kanpur 208020 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2260144; 2660401 </td></tr>
<tr><td>26</td><td>Mangala Multispeciality Hospital (P) Ltd</td><td>147-A, Safipur-II, Ramadevi, New Pac lines, Kanpur - 208007; Dist: Kanpur; State: Uttar Pradesh</td><td>Std (0512) Tel: 2404601, 2404602 </td></tr>
<tr><td>28</td><td>New G T Nursing Home</td><td>7/223, Gutaiya, Swaroop Nagar, GT Road, Kanpur - 208002; Dist: Kanpur Nagar; State: Uttar Pradesh</td><td>Std (0512) Tel: 2531111 </td></tr>
<tr><td>29</td><td>New Jahangeer Hospital</td><td>88/478, Tukaniya Purwa, Deputy Parao Chauraha, Kanpur 208001 Dist Kanpur Uttar Pradesh</td><td> Mob : 9336111221</td></tr>
<tr><td>30</td><td>New Leelamani Hospital</td><td>4/116, 'C', Civil Lines, Kanpur 208001 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2530022, 2530023, 3245704 </td></tr>
<tr><td>31</td><td>New Sewadham Hospital</td><td>87/36, Acharyanagar, Near Sangeet Cinema, Kanpur 208003 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 3245707</td></tr>
<tr><td>32</td><td>Pawan Tanay Hospital</td><td>Mati Road, Akbarpur, Near ECH Hospital, Kanpur, Dist: Kanpur Dehat, State: Uttar Pradesh-209101</td><td>Mob:9616875053</td></tr>
<tr><td>33</td><td>PPM Medical Research and Trauma Centre (P) Ltd..</td><td>127/194, W-1, Saket Nagar Kanpur 208014 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2601555, 2601444 </td></tr>
<tr><td>34</td><td>R.K. Devi Memorial Hospital</td><td>113/157, Swaroop Nagar, Swaroop Nagar Kanpur 208001 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2534716, 2534979 </td></tr>
<tr><td>35</td><td>Regency Hospital</td><td>A-2, Sarvodaya Nagar Kanpur 208005 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 3081111 </td></tr>
<tr><td>36</td><td>Santosh Hospital</td><td>127/214, Barah Devi Chauraha, Juhi, kanpur 208014 Dist Kanpur Uttar Pradesh</td><td>STD (0512) Tel: 2602180, 2644001</td></tr>
<tr><td>38</td><td>Sharma Nursing Home</td><td>113/340, Swaroop Nagar Kanpur 208002 Dist Kanpur Uttar Pradesh</td><td>STD : 0512 Ph No : 2556275, 2545000 </td></tr>
<tr><td>39</td><td>Shree Ram Nursing Home Pvt Ltd</td><td>128/A-817, K Block, Kidwai Nagar Kanpur 208011 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2607105, 2602303 \</td></tr>
<tr><td>40</td><td>Taurus Hospital (A Unit OF Taurus Medicare Pvt Ltd)</td><td>208, Safipur, 1st Ramadevi, kanpur 208007 Dist kanpur Uttar Pradesh</td><td>STD (0512) Tel: 2400774, 2400779 </td></tr>
<tr><td>41</td><td>The Orient Hospital</td><td>128, W-2 Block, Barra Bypass Road, Damodar Nagar, Kanpur 208027 Dist Kanpur Uttar Pradesh</td><td>STD (0512) Tel: 3251984 </td></tr>
<tr><td>42</td><td>Tulsi Hospitals Ltd</td><td>14/116-A Civil Lines Civil Lines Kanpur 208001 Dist Kanpur Uttar Pradesh</td><td>STD(0512) Tel: 2536403, 2536404, 2536405 </td></tr>
<tr><td>43</td><td>Vedanta Hospital & Reaserch Centre [A Unit of Kanpur Trauma & Ortho Care Centre Pvt.Ltd]</td><td>9/55, Arya Nagar, Near Bang Bhawan, Benjhawar Road Kanpur 208002 Dist Kanpur Uttar Pradesh</td><td>STD (0512) Tel: 2540023, 2540092 </td></tr>
</tbody></table>
<br>

{% endblock %}
